a{
	text-decoration: none;
	color: black;
	border: 2px solid silver;
	background-color: black;
	
}

}

a:hover{
	
	
	font-size: 30px;
	transition: all 3s;
	background-color: greenyellow;
	border-radius: 50px;
}



.purple{
	color:purple ;
	font-weight: bold;
	font-family: cursive;
}

.bold{
	font-family: cursive;
	
	font-weight: bold;
}



body{
	background:radial-gradient(white,silver,white,gray);

}


h1{
	color: black;
	text-shadow: 2px 3px 6px pink;
font-family: cursive;

}

h3{font-family: cursive;}
